<%- include('header') %>
<div class="result">
  <% if(error){ %>
    <%= error %>
  <% } else{ %>
    $<%= quantidade %> na cotação <%= cotacao %> é igua à: R$<%= conversao %>.
  <% } %>
</div>
<%- include('footer') %>
